html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
#renderCanvas {
    position:absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.overlay{
    position:absolute; 
    z-index: 100;
    font-family: "comic sans ms";
}